# Core API
fastapi
uvicorn[standard]
pydantic

# Messaging
apache-pulsar-client==3.5.0

# Configuration
PyYAML==6.0.1

# Utilities
fastavro==1.9.4
opentelemetry-api==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-instrumentation-fastapi==0.45b0
prometheus-client
structlog
 
# Shared Libraries
pyyaml
-e ./shared/q_auth_parser
-e ./shared/q_pulse_client
 
# Shared Libraries
pyyaml
-e ./shared/q_auth_parser
-e ./shared/q_pulse_client
