fastapi
uvicorn[standard]
pydantic
python-multipart
jinja2
zulip
pulsar-client 
# For connecting to external services
httpx
zulip_bots
emails

# Utilities
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
prometheus-client
structlog  
# Shared Libraries
pyyaml
-e ./shared/q_auth_parser
 
# Shared Libraries
pyyaml
-e ./shared/q_auth_parser
